
body {
    font-family: "HelveticaNeue", "Arial", sans-serif;
    background-color : gold
  }
h1 {
    color: black
}
h2 {
    font-size: 2em; 
    color: black
}
p{
    font-size: 1em;
    color: cornflowerblue;
}
